/* Calendar */
#calendar {
    width: 100%;
    font: monospace;
    line-height: 1.2em;
    font-size: 30px;
    text-align: center;
    z-index: 1;
    /* box-shadow: 0px 20px 60px 0px rgba(246, 33, 75, 0.3); */
}

#calendar.single-offer {
    box-shadow: 0px 0px 25px rgba(246, 33, 75, 0.3);
    justify-content: space-between;
}

#calendar thead tr:last-child {
font-size: 30px;
color: rgb(85, 85, 85);
}

#calendar thead tr:nth-child(1) td:nth-child(2) {
color: rgb(50, 50, 50);
}

#calendar thead tr:nth-child(1) td:nth-child(1):hover, #calendar thead tr:nth-child(1) td:nth-child(3):hover {
cursor: pointer;
}

.genric-btn.calendar-table , .btn.calendar-table{
    background-color: white;
    color: grey;
    width: 90px;
    height: 90px;
    border: 2px solid #eeeeee;
    border-radius: 5px;
    line-height: 60px;
}

.genric-btn.calendar-table-training-day,
.btn.calendar-table-training-day {
    background-color: #f6214b;
    color: white;
    width: 90px;
    height: 90px;
    border: 2px solid #eeeeee;
    border-radius: 5px;
    line-height: 60px;
}

.calendar-table-training-day:hover {
    background-color: white;
    border-color: #f6214b;
    color:#f6214b;
}

.calendar-table:hover{
    color:#f6214b;
    border-color: #f6214b;
}

#calendar tbody td a.calendar-table-today {
    border: 3px solid #f6214b;
    padding: 10px;
}

#calendar tbody td a{
    padding: 10px;
    margin-bottom: 10px;
    justify-content: center;
}


#calendar thead td:nth-child(n) {
    padding-top: 30px;
    padding-bottom: 20px;
} 

@media (max-width:576px) {
    #calendar tbody td a{
        height: 50px;
    }
    .main-content {
        flex-direction: column;
    }
}

@media (max-width:720px) {
    #calendar tbody td a{
        height: 75px;
    }
    .main-content {
        flex-direction: column;
    }
}
/* End of calendar */


/* Some helpful classes */
.indent {
    margin-top: 75px;
}
.center-vertical-hueta {
    vertical-align: middle;
}

.body.col-lg-6.wrapper {
    overflow-y: scroll;
    max-height: 750px;
    box-shadow: 0px 0px 25px rgba(246, 33, 75, 0.3);
}

/* End of some helpful classes */


/* scrollbar */
.body.wrapper::-webkit-scrollbar {
    width: 15px;
}
.body.wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #f6214b;
}
/* end of scrollbar */


/* Buttons */
.genric-btn.primary-border.standart-btn {
    display: table-cell;
    background-color: #f6214b;
    border-radius: 25px;
    vertical-align: middle;
}

.button-group-area.top-calendar {
    justify-content: space-between;
}

.genric-btn.primary.time-button {
    font-size: 20px;
    border-radius: 25px;
    min-width: 110px;
}

.strelka {
    color: #f6214b;
    font-size: 60px;
    font-weight: bold;
}
 
.ok-button {
    border-radius: 25px;
    margin-top: 25px;
    font-size: 35px;
}

.genric-btn.primary.confirm-button {
    border-radius: 25px;
    font-size: 35px;
    width: 120px;
    text-align: center;
}
/* End Buttons */

/* MainPage */
.main-content {
    padding: 45px 100px;
}
/* end of MainPage */


/* Modal */
.modal-trainer-list {
    /* position: fixed; */
    overflow: scroll;
    width: 100%;
    padding-right: 0px !important;
}

.modal-training-day {
    overflow: scroll;
    width: 100%;
    padding-right: 0px !important;
}
/* end of Modal */

/* training day */
.training-day {
    text-align: center;
    height: auto;
}

.training-day .training-day-text {
    margin-top: 25px;
    justify-content: center;
    padding: auto;
}
.training-day .training-day-text h1.training-day-text-notice {
    margin-top: 25px;
    font-weight: normal;
    font-size: 30px;
    color: gray;
}
.training-day .training-day-text h3.training-day-text-notice {
    margin-top: 25px;
    font-weight: normal;
    font-size: 20px;
    color: red;
}
/* end of training day */


/* Trainer list */
.trainer-list-notice {
    color: gray;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
}
/* end of trainer list */