#confirm-btn {
    margin: 30px 0px;
    width: 70%;
}

#settings-password-modal {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

#settings-password-modal-content {
    align-items: center;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    width: 400px;
    margin: 10% auto;
    top: 50%;
    margin-top: -84.375px;
}

.settings-password-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 30px;
}

#settings-password-yes, #settings-password-no {
    padding: 0px 40px;
}

.settings-password-modal-text {
    padding: 40px 0px;
}

.settings-password-modal-close-btn {
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 1.5rem;
    z-index: 1;
}

.settings-password-modal-close-btn:hover {
    cursor: pointer;
    color: red;
    transition: 0.2s ease-out;
}